@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
    color: hsla(0, 0%, 100%, 0.75);
}

.about {
    height: 100vh;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards {
    display: flex;
}

.card {
    width: 300px;
    height: 500px;
    padding: 45px;
}

.left {
    background-color: hsl(31, 77%, 52%);
    border-radius: 10px 0 0 10px;
}

.center {
    background-color: hsl(184, 100%, 22%);
}

.right {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 10px 10px 0;
}

.title {
    margin: 30px 0 25px;
    font-size: 2.5em;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    color:hsl(0, 0%, 95%)
}

.desc {
    font-size: 15px;
    line-height: 1.7;
}

.btn {
    background-color: hsl(0, 0%, 95%);
    margin: 75px 0px;
    padding: 14px 30px;
    border-radius: 50px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: bolder;
    font-size: 14px;
    border: solid 2px hsl(0, 0%, 95%);
}

.btn:hover {
    color:hsl(0, 0%, 95%);
    border: solid 2px hsl(0, 0%, 95%);
    cursor: pointer;
}

.btn-left {
    color: hsl(31, 77%, 52%);
}
.btn-left:hover {
    background-color: hsl(31, 77%, 52%);
}

.btn-center {
    color: hsl(184, 100%, 22%);
}
.btn-center:hover {
    background-color: hsl(184, 100%, 22%);
}

.btn-right {
    color: hsl(179, 100%, 13%);
}
.btn-right:hover {
    background-color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 900px) {
    .about {
        height: auto;
    }

    .cards {
        flex-direction: column;
        margin: 50px 0;
    }

    .card {
        height: 450px;
        width: 330px;
    }

    .left {
        border-radius: 10px 10px 0 0;
    }

    .right {
        border-radius: 0 0 10px 10px;
    }

    .btn {
        margin: 30px 0px;
    }
}